body,
.App {
  margin: 0;
  padding: 0;
  text-align: left;
}

h1 {
  background-color: rgb(77, 77, 77);
  color: white;
  padding: 20px;
  text-align: right;
  margin: 0;
}

table {
  border-collapse: separate;
  border-spacing: 3px;
  margin-left: 1px;
}

th {
  padding: 5%;
  background-color: #f2f2f2;
}

td {
  border: 3px solid black;
  padding: 1px;
  background-color: white;
}

thead {
  background-color: #f2f2f2;
}
